Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

RewriteRule ^(db|models)(/.*|)$ - [NC,F]
RewriteRule ^(\.git/|\.gitignore|\.env|config\.php)$ - [NC,F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^public/(.*)$ /public/index.php [L,NC]